<h1 id="title">Eat the burger!</h1>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
<h3>Burgers ready to eat!</h3>
      <ul>
        {{#each burger}} {{#unless devoured}}
        <li>
          {{burger_name}}

          <button class="change-status" data-id="{{id}}" data-newstatus="true">
            DEVOUR!
          </button>
        </li>
        {{/unless}} {{/each}}
      </ul>
    </div>
    <div class="col-sm-6">
      <h3>Burgers that have been devoured!</h3>

      <ul>
        {{#each burger}} {{#if devoured}}
        <li> {{burger_name}} </li> {{/if}} {{/each}}
      </ul>
    </div>
  </div>
</div>

<h4>Add a burger you want to eat</h4>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>